h2, h3, h4{
	font-weight: 100 !important;
}
h1,
.learn-more h2,
.carousel h4{
	color:#FFF;
}
.row-full-nav{
  background:#EEE;
}
.row-full-nav .container {
	font-family: "Agency fb bold";
	font-size:18px;
}
.row-full-nav .container .nav{
	display: flex;
	width:650px;
	align-items: center;
	justify-content: center;
	float: right;
}

.row-full-nav .container .nav a{
	flex:1;
	text-align: center;
	padding:22px 5px 18px;
	text-transform: uppercase;
	color:#333;
	border-bottom:4px solid #EEE;
}
.row-full-nav .container .nav a:hover{
	background:#DDD;
	text-decoration: none;
	border-bottom:4px solid #DDD;
}

.row-full-nav .container .nav a.active{
	border-bottom:4px solid #da1a32;
}

.row-full-testimonials{
	background:transparent url("https://www.nba.com/resources/static/team/v2/clippers/custom/season-tickets/img/testimonials-bg.jpg") no-repeat center center;
	background-size:cover;
}

.learn-more {
	background:transparent url("https://www.nba.com/resources/static/team/v2/clippers/custom/season-tickets/img/learn-more-bg2.jpg") repeat-x center center;
}

.section-title{
	margin-bottom:50px;
	color:#000;
	font-size:32px;
}
.section-title span{
	position:relative;
  display:inline-block;
  border-bottom:5px solid #000;
}
.section-title.want-more{
	margin-bottom:5px;
	font-size:38px;
}

.logos{
	margin-bottom:80px;
}
.logo{
	margin-bottom:30px;
}
.bg-grey{
	background:#EEE;
}
p{
	font-family: "Avenir";
	font-size: 15px;
}
.vcenter{
	display: flex;
	justify-content: center;
	align-items: center;
}
ul.tabss {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 450px;
	width: 100%;
	text-align: center;
}

ul.tabss li {
	float: left;
	width: 33.3%;
	margin: 0;
	cursor: pointer;
	padding: 5px 15px 0;
	height: 440px;
	border:1px solid #BBB;
	line-height: 18px;
	color: #000;
	overflow: hidden;
	position: relative;
	transition: all .2s ease-in-out;
	font-family: "Avenir";
}

ul.tabss li.tabss-2,
ul.tabss li.tabss-3{
	border-left:0 none;
}

.tab_last { border-right: 1px solid #333; }

ul.tabss li:hover {
	background-color: #F5f5f5;
	color: #333;
}

ul.tabss li.tab-active {
	background-color: #f5f5f5;
	color: #000;
	display: block;
	transform: scale(1.1);
	position:relative;
	z-index: 1;
}

ul.tabss li.tabss-2{
	border-bottom:8px solid #da1a32;
}

ul.tabss li.tabss-2.tab-active{
	border: 1px solid #da1a32;
	border-bottom:8px solid #da1a32;
}

ul.tabss li.tabss-3{
	border-bottom:8px solid #00438c;
}

ul.tabss li.tabss-3.tab-active{
	border: 1px solid #00438c;
	border-bottom:8px solid #00438c;
}

ul.tabss h2{
	font-family: "Agency fb bold";
	text-transform: uppercase;
}
.season-header{
	font-weight: 900;
	display: block;
	margin-top:30px;
	font-size: 15px;
}
.starting-at{
	margin-top:20px;
}
.price{
	font-size:36px;
	line-height: 38px;
	margin:6px 0 3px;
	font-family: "Agency fb bold";
}
.view-faq{
	text-decoration: underline;
}

.view-faq:hover{
	text-decoration: none;
}
.applies{
	display:block;
	margin-top:5px;
	color:#888;
}
.tab_container {
	border-top: none;
	clear: both;
	float: left;
	padding-top:30px;
	width: 100%;
	background: #fff;
	overflow: auto;
}

.tab_content {
	padding: 20px;
	/* display: none; */
}
.tab_content .key-matchups{
	margin:0 0 25px;
}

h2,h3,h4,
.tab_content .price
.tab_content button{
	font-family: "Agency fb bold";
	text-transform: uppercase;
}

.tab_content button{
	margin-top: 15px;
	color:#FFF;
	text-transform: uppercase;
	background:#da1a32;
	border:0 none;
	padding:10px 15px 8px;
	font-family: "agency fb bold";
	font-size: 20px;
}
.tab_content button:hover{
	background:#00438c;
}
.logo-images{
	margin-bottom:40px;
	display: flex;
	justify-content: center;
}

.tab_drawer_heading { display: none; }

.why-join-text{
	padding:10px 0 30px;
}
/* Full Season */
.full-season .row,
.half-season .row {
	margin-bottom:60px;
}
.full-season .row img,
.half-season .row img{
	margin:0 auto;
}

/* Learn More  */
.learn-more .sign-up-form{
	color:#FFF;
}

.learn-more p{
	font-size:14px;
}

.emptyContainer{
	background:#EEE;
	padding:15px !important;
	margin-top:20px;
	font-size:12px;
	font-family: "Avenir" !important;
}
.emptyContainer input {
	border: 1px solid #ddd;
	height: 25px;
	margin-top: 0px;
	text-indent: 4px;
	width: 100%;
	color: #000;
	margin-bottom: 5px;
}

.emptyContainer input:focus{
	border: 1px solid #333;
}

.emptyContainer label {
	color:#000 !important;
	font-size: 12px !important;
	margin-bottom:0 !important;
}
.emptyContainer div[data-editorblocktype="SubmitButtonBlock"]{
  margin-top:10px;
}
.emptyContainer div[data-editorblocktype="SubmitButtonBlock"]:hover{
	background:#00438c;
}
.emptyContainer div[data-editorblocktype="SubmitButtonBlock"] p{
	margin:0
}
.emptyContainer .columnContainer{
	padding:0 !important;
}
.onFormSubmittedFeedback{
	background: none !important;
	width: 100% !important;
}
div[data-form-block-id] .onFormSubmittedFeedbackIcon,
div[data-form-block-id] .onFormSubmittedFeedback .onFormSubmittedFeedbackButtonSuccess{
	display: none !important
}
div[data-form-block-id] .onFormSubmittedFeedback .onFormSubmittedFeedbackMessage{
	color:#FFF;
	font-family: 'Avenir', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 24px;
}


/* Benefits */
.benefits-item{
	display: flex;
	margin-bottom:30px;
}

.benefits-item img{
	margin: 0px 20px 0 0;
}

.main-benefit{
	margin:40px 0;
	background:#EEE;
	padding:40px 20px;
}

/* Carousel */
.carousel{
	padding-top:80px;
	color: #FFF;
}
.carousel .byline{
	font-family: "Agency fb bold";
	text-transform: uppercase;
	font-size:21px;
}
.carousel .byline span{
	font-family: "Agency fb bold";
}
.carousel-control .icon-prev, 
.carousel-control .icon-next, 
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
	top: 33%;
}
.carousel-control.left,
.carousel-control.right{
	background:none;
}
.carousel-indicators {
	bottom: -60px;
}
.carousel-indicators li,
.carousel-indicators .active {
	width: 18px;
	height: 18px;
}
.carousel-control{
	width:50px;
}

/* FAQ */
#accordion h4, 
#accordion p {
	font-family: "Avenir";
}
#accordion .panel-title a{
	display: block;
	position:relative;
	padding-right: 50px;
	font-weight: 900;
}
#accordion .panel-default > .panel-heading{
	background:#FFF;
	padding: 20px;
}
#accordion .panel-title a .glyphicon{
	position:absolute;
	right:0;
	top:0;
	transition: transform .4s ease;
	transform: rotate(0);
	transform-origin: center center;
}
#accordion .panel {
	border-radius: 0;
}
#accordion .panel-title a.collapsed .glyphicon{
	transform: rotateX(180deg);
}
#accordion.panel-group .panel + .panel {
	margin-top: 25px;
}

/* Footer */
.row-full-footer{
	background-color: #da1a32;
	color:#FFF;
	margin-top:100px;
	font-family: "Avenir";
	font-size:20px;
}

.row-full-footer .row > div{
	padding:20px 0;
}

/* .row-full-footer .contact, */
.row-full-footer .contact > div{
	display: flex;
}

.row-full-footer .contact > div{
	flex:1;
}

.row-full-footer .contact .icon{
	margin:5px 20px 0 0;
	font-size:42px;
}
.row-full-footer .contact .details span{
	display: block;
	font-weight: 900;
	text-transform: uppercase;
}

.row-full-footer a,
.row-full-footer a:hover{
	color:#FFF;
}
.seat{
	margin-top:-6px;
}

@media screen and (max-width: 479px) {
	.field-name-body > .container{
		padding-left:15px;
		padding-right:10px;
	}
}
@media screen and (max-width: 767px) {
	.section-title{
		font-size:30px;
	}
	h4{
		font-size:22px;
	}
	.row-full-nav{
		margin-bottom:75px;
	}
	.responsive-tabs,
	.learn-more,
	.row-full-testimonials,
	.benefits,
	#accordion{
		margin-bottom:50px;
	}
	.why-join{
		margin-bottom:70px;
	}
	.row-full-header{
		margin:0 -15px;
	}
	.learn-more {
    background-size: contain;
    padding-bottom: 20px;
	}

	.logo{
		padding:0 10px;
	}
	.logos-small .col-md-12{
		padding:0;
	}
	.tabss {
		display: none;
	}
	.tab_content {
		/* display: block !important; */
	}
	.tab_content .col-sm-6:first-child{
		margin-bottom:50px;
	}
	.tab_drawer_heading {
		border:1px solid #CCC;
		border-bottom:15px solid #CCC;
		color: #000;
		margin: 0;
		padding: 5px 20px 15px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		margin-bottom:20px;
		position:relative;
	}
	.tab_drawer_heading .season-header{
		margin-top:10px;
		font-size:13px;
	}
	.tab_drawer_heading span{
		display: block;
	}
	.tab_drawer_heading .starting-at{
		position: absolute;
		bottom: 20px;
		right: 15px;
	}
	.tab_drawer_heading .starting-at .month{
		margin-top:-8px;
	}
	.tab_drawer_heading .glyphicon{
		position:absolute;
		right:15px;
		top:25px;
		font-size:22px;
		transition: transform .4s ease;
		transform: rotateX(180deg);
		transform-origin: center center;
	}
	.tab_drawer_heading.open .glyphicon{
		transform: rotate(0);
	}

	.tab_drawer_heading.tab_drawer_2 .glyphicon{
		color:#da1a32;
	}

	.tab_drawer_heading.tab_drawer_3 .glyphicon{
		color:#00438c;
	}

	.d_active {
		background-color: #f5f5f5;
	}
	.tab_drawer_2{
		border: 1px solid #da1a32;
		border-bottom:15px solid #da1a32;
	}
	.tab_drawer_3{
		border: 1px solid #00438c;
		border-bottom:15px solid #00438c;
	}
	.starting-at span{
		margin:0 5px;
	}
	.carousel img{
		margin-bottom:40px;
	}
	.carousel .byline{
		font-size:16px;
	}
	.row-full-footer {
		margin:0 -15px;
	}
	.row-full-footer .contact > div:first-child{
		margin-bottom:30px;
	}
}

@media screen and (min-width: 767px) {
	.row-full-nav{
		margin-bottom:75px;
	}
	.responsive-tabs,
	.learn-more,
	.row-full-testimonials,
	.benefits,
	#accordion{
		margin-bottom:50px;
	}
	.why-join{
		margin-bottom:70px;
	}
	.row-full-header{
		height:511px;
		background:transparent url("https://www.nba.com/resources/static/team/v2/clippers/custom/season-tickets/img/hero.jpg") no-repeat center center;
		background-size:cover;
	}
	.learn-more .container{
		height:543px;
		background:transparent url("https://www.nba.com/resources/static/team/v2/clippers/custom/season-tickets/img/learn-more-bg.png") no-repeat center center;
		width: 100%;
		background-size: 115%;
		background-position: bottom center;
	}
	.tab_container {
		padding-top:70px;
	}
	.header-text{
		padding-top:180px;
		color:#FFF;
		font-family: "Agency FB Wide";
		font-weight: 900;
		text-transform: uppercase;
	}
	.subhead{
		font-size:40px;
	}
	.icon{
		margin-top:-20px;
    display: inline-block;
	}
	.header-text h1{
		font-size:78px;
		font-weight: 900;
		margin-top:18px;
	}
	.nopadding-left {
		padding-left: 0 !important;
		margin-left: 0 !important;
	}
	.nopadding-right {
		padding-right: 0 !important;
		margin-right: 0 !important;
	}
	/* Why Join */
	.why-join-text{
		padding:40px 0;
	}
	.why-join-text h4,
	.carousel h4{
		font-family: "Agency fb bold";
		font-size:38px;
	}
	.main-benefit{
		padding:40px 20%;
	}
	.row .benefits-item div:last-child{
		padding-right:20%;
	}
	.carousel-control .icon-prev, 
	.carousel-control .icon-next, 
	.carousel-control .glyphicon-chevron-left, 
	.carousel-control .glyphicon-chevron-right {
		top: 55%;
	}

	#accordion .panel-body {
		padding: 35px;
		font-size:15px;
		line-height: 25px;
		font-family: "Avenir";
	}
	.learn-more .sign-up-form{
		padding-top:50px;
	}
	.row-full-footer .contact{
		display: flex;
		text-align:left;
	}
}

@media screen and (min-width: 992px) {
	.row-full-nav .container .nav a {
    padding-left: 15px;
		padding-right: 15px;
	}
	.learn-more .container{
		background-size: contain;
	}
	.learn-more .sign-up-text{
		padding-top:100px;
	}
	.why-join-text{
		padding:60px 60px 0 40px;
	}
	.bigger{
		font-size:16px;
		line-height:22px;
	}
	.smaller{
		font-size:13px;
	}
	ul.tabss li {
		padding-top: 30px;
	}
	.section-title{
		font-size:46px;
	}
}

@media screen and (min-width: 1200px){
	.why-join-text{
		padding:110px 150px 0 40px;
	}
	.learn-more .container{
		width:1170px;
	}
}

@media (max-width: 639px){
	.main-nav-wrapper {
		margin-bottom: 0 !important;
	}
}


.row-full-header{
  background:transparent url("https://www.nba.com/resources/static/team/v2/clippers/custom/miniplans/img/hero.jpg") no-repeat center center;
  background-size:cover;
}

.row-full-nav {
  margin-bottom: 30px;
}
.header-text h1 {
  margin-bottom: 10px;
}
.header-text h2{
  font-size:44px;
  margin-top:0px;
  color:#FFF;
}

.intro-text,
.intro-text h3{
  font-family: "Avenir";
  text-transform: none;;
}

.intro-text p{
  font-size:14px;
}

.intro-text span{
  font-weight: 900;
}
.plan-item{
  text-align: center;
  width: 100%;
  border:1px solid #CCC;
  padding:20px 15px;
  margin-top:25px;
}
.plan-item .logos{
  display:flex;
  justify-content: center;
  margin:20px 0;
}
.plan-item a,
.seating-tiers button,
.seating-tiers span{
  display: inline-block;
  font-family: "Agency fb bold";
  font-size:22px;
  background:#da1a32;
  border:0 none;
  color:#FFF;
  padding:11px 28px 8px;
  text-transform: uppercase;
}

.seating-tiers span{
  padding:20px 12px 12px;
}

.plan-item a:hover,
.plan-item a:focus{
  background:#00438c;
  text-decoration: none;
  color:#FFF;
}

.plan-item h3{
  font-size:26px;
}
.looking-for{
  margin: 20px 0 90px;
}

.seating-tiers{
  text-align: center;
}
.seating-tiers > div{
  margin-bottom:45px;
}
.seating-tiers button,
.seating-tiers span{
  margin-top:12px;
}
.premium button,
.premium span{
  background:#11984a;
}
.level-one button,
.level-one span{
  background:#00438c;
}
.level-one-corners button,
.level-one-corners span{
  background:#318cdd;
}
.level-two button,
.level-two span{
  background:#f4a41c;
}
.level-three button,
.level-three span{
  background:#ed177a;
}
.seating-chart{
  margin-bottom:90px;
}
.row-full-footer {
  margin-top: 0;
}
.row-full-sign-up{
  background:transparent url("https://www.nba.com/clippers/sites/clippers/files/season-ticket-horizontal-bg-texture.jpg");
  background-size:34%;
  margin-bottom:40px;
  padding-bottom:20px;
}
.emptyContainer {
  background: transparent;
}
.emptyContainer label {
  color: #FFF !important;
}

#h-form .columnContainer [data-editorblocktype="SubmitButtonBlock"] {
  margin: 8px 0 0 0 !important;
  height:40px;
}

#h-form .emptyContainer div[data-editorblocktype="SubmitButtonBlock"]:hover {
  background: #da1a32 !important;
}

@media (max-width: 767px){
  .intro-text .col-xs-12{
    padding-top:30px;
    text-align: left !important;
  }
  .plan-item img.two-logos{
    width:225px;
    height:102px;
    margin-bottom:20px;
  }
  .plan-item.plan-last img.two-logos{
    height:124px;
  }
  .plan-item img.eight-logos{
    width:100%;
    margin-bottom:20px;
  }
  .seating-tiers{
    display: flex;
    flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  }
  .seating-tiers > div{
    flex:50%;
    margin-bottom:20px;
  }
}

/* Plans */
@media (min-width: 767px) {
  .intro-text p{
    margin:30px 0 0;
    font-size:15px;
  }
  .intro-text h3{
    font-size:24px;
  }

  .plan-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:25px 20px;
    margin-top:35px;
  }
  .plan-item h3{
    font-size:36px;
  }
  .plan-item,
  .plan-item .two-logos{
    transition: all .3s ease-in-out;
  }
  .plan-item .two-logos,
  .plan-item .eight-logos{
    transition: all .4s ease-in-out;
  }
  .plan-item:hover{
    background:#EEE;
  }
  .plan-item:hover .two-logos,
  .plan-item:hover .eight-logos{
    transform: scale(1.1);
  }
  .plan-item .two-logos{
    max-width:175px;
  }
  .plan-item .eight-logos{
    max-width:280px;
  }
  .plan-item .logos{
    margin:0;
  } 
  
  /* Seating */
  .seating-tiers{
    display: flex;
  }
  .seating-tiers > div{
    flex:1;
    text-align: center;
    margin:0;
  }
  .seating-tiers h3{
    font-size:40px;
  }
  .seating-tiers button,
  .seating-tiers span{
    display: inline-block;
    font-size:42px;
    padding:7px 12px 0px;
  }

  .seating-tiers span{
    padding:22px 12px 12px;
  }
  .seating-chart{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top:70px;
  }
  .row-full-sign-up{
    margin-bottom:0;
    padding:0
  }

}

@media (min-width: 1200px) {
  .intro-text p{
    font-size:18px;
  }
  .plan-item{
    padding:25px 40px 25px 50px;
  }
  .looking-for p{
    font-size:22px;
  }
  .plan-item .two-logos{
    max-width:290px;
  }
  .plan-item .eight-logos{
    max-width:445px;
  }
}

