#special-events-calendar .container .header-filters {
	border: 0 none;
	margin: 50px 0 20px 0;
}

.dropdown-toggle,
.header-filters .right-side .btn-default {
	font-size: 15px;
	line-height: 22px;
	padding-top: 10px;
	font-weight: normal;
}

.header-filters .right-side {
	font-family: "Agency fb";
	color: #d7d7d7;
	gap: 10px;
	font-size: 20px;
	margin-top: 0;
	justify-content: flex-end;
}
.header-filters .right-side select {
	color: #666;
}
.header-filters .right-side button {
	font-size: 20px !important;
}
.header-filters .row-flex {
	align-items: center;
}
.header-filters .right-side .other-select {
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	width: 150px;
	padding: 10px;
}



@media (max-width: 991px) {
	.header-filters .row {
		flex-direction: column;
	}
	.header-filters .right-side .other-select {
		width: 100%;
	}
	.header-filters .filter-dropdowns {
		width: 100%;
	}
}



@media screen and (min-width: 767px) {
	.nopadding-left {
		padding-left: 0 !important;
		margin-left: 0 !important;
	}
	.nopadding-right {
		padding-right: 0 !important;
		margin-right: 0 !important;
	}
	#special-events-calendar .container h1 {
		font-size: 50px;
	}
}
