h2, h3, h4{
	font-weight: 100 !important;
}
h1,
.learn-more h2,
.carousel h4{
	color:#FFF;
}
p{
	font-family: "Avenirltstd book";
	font-size: 15px;
}
h2,h3,h4{
	font-family: "Agency fb bold";
	text-transform: uppercase;
}
.header-text h1 {
  margin-bottom: 10px;
}
.header-text h2{
  font-size:44px;
  margin-top:0px;
  color:#FFF;
}
.header-buttons{
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.header-buttons a{
  font-family: "Agency fb bold";
  text-transform: uppercase;
  color: #FFF;
  border: 1px solid #da1a32;
  background: #da1a32;
  padding: 16px 30px 10px;
  font-size: 26px;
  margin:0 5px;
  font-weight:100;
}
.header-buttons a:hover{
  text-decoration: none;
  opacity:0.8;
}
.header-buttons a.email-button{
  background:#000;
}
/* Tiles */
.tiles{
  margin-top:70px;
  margin-bottom:30px;
}
.tiles .row > div{
  margin-bottom:40px;
}
.tiles .tile{
  min-height: 300px;
  background: transparent url("https://clippersweb.blob.core.windows.net/ticketcentral/img/tile-hs.jpg") no-repeat;
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tiles .tile-seasontickets{
  background: transparent url("https://clippersweb.blob.core.windows.net/ticketcentral/img/tile-seasontickets.jpg") no-repeat center center;
  background-size:cover;
}
.tiles .tile-miniplans{
  background: transparent url("https://clippersweb.blob.core.windows.net/ticketcentral/img/tile-miniplans.jpg") no-repeat center center;
  background-size:cover;
}
.tiles .tile-sgt{
  background: transparent url("https://clippersweb.blob.core.windows.net/ticketcentral/img/tile-sgt.jpg") no-repeat center center;
  background-size:cover;
}
.tiles .tile-groups{
  background: transparent url("https://clippersweb.blob.core.windows.net/ticketcentral/img/tile-groups.jpg") no-repeat center center;
  background-size:cover;
}
.tiles .tile-suites{
  background: transparent url("https://clippersweb.blob.core.windows.net/ticketcentral/img/tile-suites.jpg") no-repeat center center;
  background-size:cover;
}
.tiles .tile-membercenter{
  background: transparent url("https://clippersweb.blob.core.windows.net/ticketcentral/img/tile-membercenter.jpg") no-repeat center center;
  background-size:cover;
}
.tiles .tile-giveaways{
  background: transparent url("https://clippersweb.blob.core.windows.net/ticketcentral/img/tile-giveaways.jpg") no-repeat center center;
  background-size:cover;
}
.tiles .tile-intuit{
  background: transparent url("https://clippersweb.blob.core.windows.net/ticketcentral/img/tile-intuit.jpg") no-repeat center center;
  background-size:cover;
}
.tiles .tile-hs{
  background: transparent url("https://clippersweb.blob.core.windows.net/ticketcentral/img/tile-hs.jpg") no-repeat center center;
  background-size:cover;
}
.tiles .tile-hp{
  background: transparent url("https://clippersweb.blob.core.windows.net/ticketcentral/img/tile-hp.jpg") no-repeat center center;
  background-size:cover;
}

.tile-header,
.tile-footer{
  padding:20px;
  font-family: "Agency fb bold";
  text-transform: uppercase;
  font-size:28px;
  text-align:center;
}
.tile-header{
  color:#FFF;
  text-decoration: none;
}
.tile-footer{
  margin-bottom:0px;
	transition: all .2s ease-in-out;
  /* opacity:0; */
  font-size:18px;
}
.tile-footer span{
  background:#da1a32;
  display: inline;
  padding:10px 15px 6px;
  transition: all .2s ease-in-out;
  color:#FFF;
}
.tile-footer span:hover{
  background:#00438c;
}
.tile:hover .tile-footer{
  /* opacity:1;
  margin-bottom:0; */
}
.tile-link:hover,
.tile-link:hover .tile-header,
.tile-link:hover .tile-footer{
  text-decoration: none;
  color:#FFF
}

/* Download */
.dl-btn{
  padding:10px;
  margin-top:40px;
  background:#000;
  display: inline-block;
}
.dl-btn:hover{
  background:#777;
}
.download-app p a{
  color:#FFF;
  text-decoration:underline;
}
.download-app p a:hover{
  text-decoration: none;;
}
/* Photo Carousel */
.photos{
  margin-bottom:75px;
}
.carousel-cell {
  width: 100%; /* full width */
  height: 640px;
  background: transparent;
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-cell-image{
  display: block;
  max-height: 100%;
}

/* Download app */
.download-app{
  background:#EEE;
  padding-top:50px;
  padding-bottom:50px;
  margin-bottom:50px;
}
.download-app h2{
  color:#FFF;
}
/* FAQ */
#accordion{
  margin-bottom:50px;
}
#accordion h4, 
#accordion p {
	font-family: "Avenirltstd book";
}
#accordion .panel-title a{
	display: block;
	position:relative;
	padding-right: 50px;
  line-height: 22px;
}
#accordion .panel-default > .panel-heading{
	background:#FFF;
	padding: 20px;
}
#accordion .panel-title a .glyphicon{
	position:absolute;
	right:0;
	top:0;
	transition: transform .4s ease;
	transform: rotate(0);
	transform-origin: center center;
}
#accordion .panel {
	border-radius: 0;
}
#accordion .panel-title a.collapsed .glyphicon{
	transform: rotateX(180deg);
}
#accordion.panel-group .panel + .panel {
	margin-top: 25px;
}
#accordion img{
  float:right;
  margin:0 0 30px 30px;
  max-width:150px;
}
.row-full-sign-up{
  background:transparent url("https://www.nba.com/clippers/sites/clippers/files/season-ticket-horizontal-bg-texture.jpg");
  background-size:34%;
  margin-bottom:0;
  padding:0;
  color:#FFF;
}
/* Footer */
.row-full-footer {
	background-color: #da1a32;
	color:#FFF;
  margin-top: 0;
	font-family: "Avenirltstd book";
	font-size:20px;
}
.row-full-footer .row > div{
	padding:20px 0;
}

.row-full-sign-up #h-form {
  background-image: url(https://www.nba.com/clippers/sites/clippers/files/season-ticket-horizontal-bg-texture.jpg);
  background-repeat: repeat ;
  background-position: left;
  background-size: 50%;
  padding-bottom:30px;
}
.row-full-sign-up #h-form h2{
  font-family: "Agency fb bold";
}
.row-full-sign-up #h-form h3{
  font-size:16px;
}
/* .row-full-footer .contact, */
.row-full-footer .contact > div{
	display: flex;
}
.row-full-footer .contact > div{
	flex:1;
}
.row-full-footer .contact .icon{
	margin:5px 20px 0 0;
	font-size:42px;
}
.row-full-footer .contact .details span{
	display: block;
	font-weight: 900;
	text-transform: uppercase;
}
.row-full-footer a,
.row-full-footer a:hover{
	color:#FFF;
}


@media screen and (max-width: 479px) {
	.field-name-body > .container{
		padding-left:15px;
		padding-right:10px;
	}
}
@media screen and (max-width: 767px) {
	.section-title{
		font-size:30px;
	}
	.row-full-header{
		margin:0 -15px;
	}
  .carousel{
    margin-top:35px;
  }
  .carousel-cell {
    height: auto;
  }
  .carousel-cell-image {
    width: 100%;
  }
	.row-full-footer {
		margin:0 -15px;
	}
	.row-full-footer .contact > div:first-child{
		margin-bottom:30px;
	}
  .tile-header, .tile-footer {
    padding: 20px 0;
  }
  .tiles .col-sm-4,
  .photos .col-sm-12{
    padding:0;
  }
  .download-app h2,
  .download-app p a {
    color: #000;
  }
  .row-full-sign-up{
    margin-left: -15px;
    margin-right: -15px;
  }
  #h-form{
    padding-top:30px !important;
  }
}

@media screen and (min-width: 767px) {
	.row-full-header{
		height:511px;
		background:transparent url("https://clippersweb.blob.core.windows.net/ticketcentral/img/hero.jpg") no-repeat center center;
		background-size:cover;
	}
	.header-text{
		padding-top:140px;
		color:#FFF;
		font-family: "Agency FB Wide";
		font-weight: 900;
		text-transform: uppercase;
	}
	.subhead{
		font-size:40px;
	}
	.icon{
		margin-top:-20px;
    display: inline-block;
	}
	.header-text h1{
		font-size:78px;
		font-weight: 900;
		margin-top:18px;
	}
  .download-app{
    background:url("https://www.nba.com/resources/static/team/v2/clippers/custom/season-tickets/img/testimonials-bg.jpg") no-repeat;
    background-size:cover;
    color:#FFF;
  }
	.row-full-footer .contact{
		display: flex;
		text-align:left;
	}
  .carousel-cell {
    height: 500px;
  }
  .carousel-cell img {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
	.section-title{
		font-size:46px;
	}
  .carousel-cell {
    height: 640px;
  }
}

@media screen and (min-width: 1200px){
}
