@font-face {
  font-family: 'Avenirltstd book';
  src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Book.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AgencyFB';
  src: url('../fonts/AgencyFB-Regular.woff2') format('woff2'),
      url('../fonts/AgencyFB-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Agency FB bold';
  src: url('../fonts/AgencyFB-Bold.woff2') format('woff2'),
      url('../fonts/AgencyFB-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Agency FB Wide';
  src: url('../fonts/AgencyFB-BlackWide.woff2') format('woff2'),
      url('../fonts/AgencyFB-BlackWide.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}