@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl leading-5xl md:text-8xl md:leading-8xl lg:text-10xl lg:leading-10xl font-agencywide text-center;
  }

  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl font-agencybold uppercase;
  }

  h3 {
    @apply text-lg md:text-xl lg:text-2xl font-agencybold uppercase;
  }

  h4 {
    @apply text-base md:text-lg font-agencybold;
  }

  body {
    @apply text-sm md:text-base font-avenir;
  }
  .header-year-logo{
    @apply text-xl leading-xl md:text-2xl md:leading-2xl lg:text-6xl lg:leading-6xl font-agencywide text-center mb-4 md:mb-6;
  }
  .btn{
    @apply bg-red hover:bg-blue font-agencybold text-white px-6 pt-3 pb-2 uppercase text-xl inline-block;
  }
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
      url('../fonts/AvenirLTStd-Book.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AgencyFB Regular';
  src: url('../fonts/AgencyFB-Regular.woff2') format('woff2'),
      url('../fonts/AgencyFB-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AgencyFB Bold';
  src: url('../fonts/AgencyFB-Bold.woff2') format('woff2'),
      url('../fonts/AgencyFB-Bold.woff') format('woff');
  font-weight: bold;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AgencyFB BlackWide';
  src: url('../fonts/AgencyFB-BlackWide.woff2') format('woff2'),
      url('../fonts/AgencyFB-BlackWide.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.container::before{
  display: none !important;
}

