/*Vertical Forms*/
#v-form .v-form-content{
  max-width:600px;
  margin: 40px auto 0;
  font-family: 'Avenir', sans-serif; 
}
#v-form .columnContainer{
  margin-top:20px;  
}
#v-form .v-form-content p{
  font-size:16px; 
}
#v-form .columnContainer input{
	color:#000;
	padding:10px;
  border-radius: 0;
  border: 1px solid #CCC;
}

#v-form .columnContainer label{
  font-family: "Avenirltstd book" !important;
  font-weight: normal;
	font-size:15px;
}

#v-form .columnContainer > div{
	margin:0 0 20px 0;
}

#v-form .columnContainer,
#v-form .emptyContainer{
	padding:0 !important;
}

#v-form .onFormSubmittedFeedback{
	background:none;
}
#v-form div[data-form-block-id] .onFormSubmittedFeedbackIcon,
#v-form div[data-form-block-id] .onFormSubmittedFeedback .onFormSubmittedFeedbackButtonSuccess{
	display: none !important
}
#v-form div[data-form-block-id] .onFormSubmittedFeedback .onFormSubmittedFeedbackMessage{
	color:#000;
	font-family: 'Avenir', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 24px;
}

#v-form form div.marketing-field input[type="checkbox"], #v-form form div.marketing-subscription-list input{
  vertical-align: top; 
}

#v-form form button[type="submit"]:hover, 
#v-form form div[data-editorblocktype="SubmitButtonBlock"] button:hover{
  background:#1d428a;
  border-color:#1d428a;
}  
@media only screen and (max-width: 767px) {
  #v-form .v-form-content,
  #v-form form{
    padding:0 20px;
  }
}
/*Vertical Forms End*/