.wrapper {
  padding:0 !important;
  position:relative; 
  z-index:0;
  background:transparent url("https://clippersweb.blob.core.windows.net/city/img/repeatable-texture.jpg"); 
  background-size:300px;
  font-family: "Avenir";
  font-weight: 600;
}
header{position:relative; z-index:1;}
.region-footer{position:relative; z-index:-1;}
.panels-flexible-region-7551-center {width: 100%;}
.post__body, .field-name-body, .taxonomy-page-node-teaser__body {padding-bottom: 0px !important;}
.page-header-ad{  display: none;}
#content a{       transition: all .2s ease-in;}
#content a:hover{	color:#f00;}
.main-nav-wrapper-inner,
.fixed .main-nav-wrapper-inner,
.page .fixed{
	background: #4f91cd;
}
.region-content{
  font-family: "Avenir";
}
@font-face {
  font-family: 'Leitura News Roman';
  src: url('https://www.nba.com/resources/static/team/v2/clippers/custom/earnededition21/fonts/LeituraNews-Roman-4.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
#video{
  height:300px;
  background:transparent url("https://clippersweb.blob.core.windows.net/city/img/mobile-sign-up.jpg") no-repeat center bottom;
  background-size:cover;
}
@media (min-width: 768px) {
  #video{
    height:auto;
    max-height:700px;
    background:none;
    overflow:hidden;
    margin-bottom:0px;
  }
  .not-logged-in #video{
    margin-top:-60px;
  }
}  

#video .videoBg {
  position: relative;
}

#video .videoFg, 
#video .videoBg iframe {
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

#video .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: rgba(79, 145, 205, .3);
}

.videoBg .subTxt { 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 60%;
  color: #FFF;
  z-index: 2;
}

.header-title{
  display: flex;
  justify-content: center;
  padding:40px 0 20px;
}
/* FROM HERE */

.videoFg {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0 !important;
}
.videoFg iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.row-full{
  position: relative;
  z-index: 1;
}
.subTxt h2{
  font-family:"Agency fb wide";
  color:#FFF;
}
h1{
  font-family: "Leitura News Roman";
  font-size: 26px;
  color: #4f91cd;
  line-height: 24px;
  letter-spacing: -.03em;
  margin-top: 18px;
}
h2.section-title{
  text-align: center;
  font-family: "Leitura News Roman";
  font-size:32px;
  color:#fa4d09;
}
.section-subtitle{
  font-family: "Avenir";
  text-transform: uppercase;
  font-weight: 600;
  color: #4f91cd;
  text-align: center;
}
.header-sign-up{
  display: flex;
  justify-content: center;
  margin-top:50px;
  font-size:16px;
  font-weight: 600;
}
.btn-sign-up{
  background:#fa4d09;
  margin:-16px 0 0 30px;
  border-radius:0;
  color:#FFF;
  font-size:16px;
  padding:15px 20px 13px;
  text-shadow:0 none;
  font-weight: 600;
}
.btn-sign-up:hover,
.btn-sign-up:active,
.btn-sign-up:focus{
  color:#FFF !important;
  background:#4f91cd;
}
/* Sign Up */
.sign-up {
  color:#4f91cd;
  padding-top:20px;
}
.sign-up-form{
  padding-top:10px;
}
.sign-up h2{
  color:#000;
  font-weight:100;
  font-family: "Agency fb bold";
}

.fan-shop img{
  width:250px;
}

/* Form */
.emptyContainer{
  margin-top:15px;
	font-size:13px;
	font-family: "Avenir" !important;
  padding:0 !important;
}
.emptyContainer input {
	border: 1px solid #eee;
	height: 45px;
	margin-top: 0px;
	text-indent: 12px;
	width: 100%;
	color: #4f91cd;
	margin-bottom: 12px;
  font-size:16px;
  font-family:"Avenir";
}
.emptyContainer input:focus,
.emptyContainer input:focus-visible {
	border: 1px solid #4f91cd;
  outline:none;
}
.emptyContainer label {
	color:#4f91cd !important;
	font-size: 13px !important;
	margin-bottom:0 !important;
  font-family:"Avenir";
}
.emptyContainer div[data-editorblocktype="SubmitButtonBlock"]{
  margin-top:10px;
}
.emptyContainer div[data-editorblocktype="SubmitButtonBlock"] p{
	margin:0
}
form button[type="submit"], 
form div[data-editorblocktype="SubmitButtonBlock"] button{
  background:#fa4d09 !important;
  border:1px solid #fa4d09 !important;
  border-radius: 0 !important;
  padding-top:5px;
  height:50px;
  font-family:"Avenir";
}

form button[type="submit"]:hover, 
form div[data-editorblocktype="SubmitButtonBlock"] button:hover{
  background:#4f91cd !important;
  border:1px solid #4f91cd !important;
  border-radius: 0 !important;
}

.emptyContainer .columnContainer{
	padding:0 !important;
}
.onFormSubmittedFeedback{
	background: none !important;
	width: 100% !important;
}
div[data-form-block-id] .onFormSubmittedFeedbackIcon,
div[data-form-block-id] .onFormSubmittedFeedback .onFormSubmittedFeedbackButtonSuccess{
	display: none !important
}
div[data-form-block-id] .onFormSubmittedFeedback .onFormSubmittedFeedbackMessage{
  color: #4f91cd;
  font-family: 'Avenir', sans-serif;
  font-weight: 10;
  font-size: 16px;
  padding: 0px 65px 0 0px;
  text-align: left;
  line-height: 30px;
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom:100px;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Details */
.details{
  background:transparent url("https://clippersweb.blob.core.windows.net/city/img/mobile-bg-sail.jpg") no-repeat;
  background-size:contain;
  padding-top:100px;
}
.details-logo{
  padding:70px 0;
}
.details-text{
  color:#fa4d09;
}
.details h3{
  font-family: "Agency fb wide";
  font-weight: 900;
  color:#fa4d09;
}
/*Photo & Flickity*/
.photos{
  margin:50px 0 0;
}
.carousel {
  margin-bottom: 40px;
}
.carousel-main-large {
  margin-top: 40px;
}
.carousel-cell {
  width: 100%;
  height: auto;
  margin-right: 20px;
  counter-increment: carousel-cell;
}
.carousel-nav .carousel-cell {
  height: 90px;
  width:160px;
  font-size: 65px;
  font-family: 'Leitura News Roman';
  -webkit-text-stroke: 1px #fa4d09;
  color: #FFF;
  background: #4f91cd;
  text-align: center;
  border:2px solid #4f91cd;
  line-height: 81px;
}
.carousel-nav .carousel-cell.is-nav-selected {
  border:2px solid #fa4d09;
}
.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}
.flickity-page-dots {
  bottom: auto;
  top:15px;
}
.carousel .caption{
  margin-top: -80px;
  padding: 0 15px;
}

.carousel-story .carousel-cell{
  width: 50%;
  height: auto;
  margin: 0px;
}

.carousel-story .carousel-cell-image {
  max-height: none;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-story .carousel-cell-image.flickity-lazyloaded,
.carousel-story .carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

.carousel-story .flickity-page-dots{
  bottom:-35px;
  top:auto;
}
.carousel-story .flickity-page-dots .dot{
  background:#fa4d09;
}
.flickity-prev-next-button{
  background:none;
  width:75px;
  height:75px;
}
.flickity-prev-next-button:hover{
  background:none;
}
.flickity-prev-next-button:disabled {
  opacity: 0;
}
.flickity-prev-next-button .arrow {
  fill: #fa4d09;
}
.flickity-prev-next-button:hover .arrow {
  fill: #4f91cd;
}
.card .card-top-ce{
  display: flex;
  height:100px;
  padding:10px;
  align-items: center;
  justify-content: space-between;
  background:#4f91cd;
}
.card .date,
.card .day,
.card .time{
  font-size:24px;
  line-height:24px;
  margin-top:3px;
  padding: 0;
  color:#FFF;
}
.vs-img{
  width:30px;
  margin-right:-15px;
}
.card .logo img{
  width:100px;
  margin-right:0px;
}
.card .card-bottom-ce{
  background:#f9f9f9;
  padding:10px 10px 20px 10px;
  color:#000;
  border:1px solid #EEE;
  text-align:center;
}
.card .card-bottom-ce .sub-name{
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0px;
}
.card .card-bottom-ce .title-name{
  font-family: "Agency fb wide";
  font-size: 24px;
  line-height: 24px;
  font-weight: 900;
  text-transform:uppercase;
}
.g-item{
  padding:10px;
  display: flex;
  justify-content: center;
}
.g-item img{
  height:120px;
  width:auto;
}
.fanny img{

}
.card .presented{
  text-transform:uppercase;
  font-size:10px;
}
.card .sponsor{
  left:auto !important;
}
.card .g-sponsor-logo{
  margin-top:5px;
  background: white;
  border: 1px solid #EEE;
  padding: 8px;
}
.card .card-bottom-ce .attendance{
  text-align: center;
  font-size:12px;
  padding: 12px 0 0;
  height:auto;
  border-top: 2px solid #EEE;
  margin-top: 12px;
}
.card .card-bottom-ce .btn{
  background:#fa4d09;
  color:#FFF;
  margin-top:15px;
}
#content .card .card-bottom-ce .btn:hover{
  background:#3577b7;
  color:#FFF;
}
.uni-sched{
  margin:50px 0 150px;
}
.sched-item{
  font-family: "Agency fb wide";
  font-size:18px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 600;
  color:#3577b7;
}
.sched-item span{
  font-weight: 100;
}
  /* Phone Only Media Query */
@media screen and (max-width: 767px) {
  .main-nav-wrapper {
    margin-bottom: 0px;
  }
  .not-front #content {
    margin-top: -20px;
  }
  .subTxt h2{
    padding-top: 15px;
    font-size: 12px;
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
  }
	.row-full{
		padding-left:15px;
		padding-right:15px;
	}
  .row-full-header{
    padding:0;
  }
  .sign-up{
    padding-bottom:50px;
  }
  .fan-shop{
    padding:15px 0;
  }
  .details .row{
    margin-bottom:75px;
  }
  .details .row-last{
    margin-bottom:0;
  }
  .details-text{
    margin-top:20px;
  }
  .accent{
    margin:15px 0;
  }
  .carousel-nav .carousel-cell {
    height: auto;
    width:33%;
    margin-right:10px;
    line-height:42px;
    font-size:28px;
  }
  .carousel-story .carousel-cell {
    width: 100%;
  }
  .flickity-prev-next-button {
    width: 25px;
    height: 25px;
  }
  .embedded-video{
    margin-bottom:75px;
  }
}

/* Tablet Media Query */
@media screen and (min-width: 768px) {
	.field-name-body > .container {
    width: 100%;
		padding-left:0;
		padding-right:0;
	}
  .videoBg .subTxt { 
    width: 100%;
  }
  h1{
    font-size: 52px;
    line-height: 42px;
    margin-top:20px;
    color:#FFF;
  }
  .subTxt h2{
    font-size:22px;
  }
  h2.section-title{
    font-size:36px;
  }
  .sign-up .container{
		height:565px;
		background:transparent url("https://clippersweb.blob.core.windows.net/city/img/bg-sign-up.jpg") no-repeat center bottom;
		width: 100%;
    background-size:contain;
	}
  .sign-up-fix{
    margin:0 -45px 0 -25px;
  }
  .columnContainer{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  .columnContainer > div:nth-child(1),
  .columnContainer > div:nth-child(2){
    flex: 1;
  }
  .columnContainer > div:nth-child(1){
    padding-right:5px;
  }
  .columnContainer > div:nth-child(2){
    padding-left:5px;
  }
  .columnContainer > div{
    flex-basis:100%;
    width:100%;
  }
  .photos{
    padding:50px 0;
    margin:0;
  }
  .photos h2.section-title{
    /* margin-bottom:50px; */
  }
  .details{
    background:transparent url("https://clippersweb.blob.core.windows.net/city/img/bg-sail.jpg") no-repeat;
    background-size:contain;
    padding-top:100px;
  }
  .details-logo{
    padding:70px 10%;
  }
  .details-text-white,
  .details-text-white h3{
    color:#FFF;
    text-shadow: 1px 1px 1px #666;
  }
  .story{
    background:transparent url("https://clippersweb.blob.core.windows.net/city/img/bg-story.jpg");
    background-size:1000px;
    min-height:890px;
  }
  
  .bigger{
    font-size:12px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight:600;
  }
  .carousel-story .flickity-page-dots .dot:last-child{
    display: none;
  }
}
@media screen and (min-width:768px) and (max-width: 1200px) {
  .details .row{
    margin-bottom:60px;
  }
  .details .details-text{
    padding-top:60px;
  }
}
/* Desktop Media Query */
@media screen and (min-width: 992px) {
  .sign-up .container{
		background-size: contain;
	}
	.sign-up .sign-up-text{
		padding-top:100px;
	}
  .story{
    min-height:1029px;
  }
  h1{
    font-size: 88px;
    line-height: 67px;
    margin-top:40px;
  }
  h2.section-title{
    font-size:52px;
  }
  h2.section-title-sm{
    font-size:32px;
    margin-bottom:42px;
  }
  .subTxt h2{
    font-size:30px;
  }
  
  .bigger{
    font-size:18px;
    line-height: 28px;
  }
}

@media (min-width: 1155px) {
  .sign-up .container{
		width:1170px;
	}
  .details .row{
    display: flex;
    margin-top:70px;  
    margin-bottom:100px;

  }
  .details-bump{
    margin-top:-200px;
  }
  .details-text{
    display: flex;
    justify-content: flex-end;
    padding:80px 40px 100px 50px;
    flex-direction: column;
  }
  .details-primary{
    padding-bottom:140px;
  }
  .details-text-right{
    justify-content: flex-start;
  }
  
  .accent{
    margin:15px -40px 15px 0;
  }
  .accent-left{
    margin:15px 0 15px -30px;
  }
}