section.faq{
  padding: 0 !important;
  font-family: "Avenir";
}
.faq .faq-wrapper{
  max-width:100% !important;
}
.faq .accordion{
  border: 0 none !important;
}

.faq .accordion__item{
  border: 1px solid #DDD !important;
  margin-bottom:20px;
}

.faq .accordion__item:last-child {
  border-bottom: 1px solid #DDD;
}

.faq .accordion__title-text{
  font-size:16px;
  text-transform: uppercase;
}

.faq .accordion__value{
  font-size:14px;
  line-height: 24px;
}